<!DOCTYPE html>
<html>
  <head>
    <title>Meddin March Madness 2016</title>
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>

    <h1>Meddin March Madness 2016</h1>

    <ul>
      <li><a href="/select-elite-8">Select Elite 8</a></li>
      <li><a href="/select-last-7">Select Last 7</a></li>
      <li><a href="/select-last-6">Select Last 6</a></li>
      <li><a href="/select-last-5">Select Last 5</a></li>
      <li><a href="/select-last-4">Select Final 4</a></li>
    </ul>

  </body>
</html>
