<!DOCTYPE html>
<html>
  <head>
    <title>Meddin March Madness 2014</title>
  </head>
  <body>

    <h1>Meddin March Madness 2014</h1>

    <ul>
      <li><a href="/elite8">Elite 8</a></li>
      <li><a href="/last7">Last 7</a></li>
      <li><a href="/last6">Last 6</a></li>
      <li><a href="/last5">Last 5</a></li>
      <li><a href="/final4">Final 4</a></li>
    </ul>

  </body>
</html>
